/* basic reset */
* {
    margin: 2px;
    padding: 0;
}

/* -------------------- Contact form style -------------------- */
.formContainer {
    width: 650px;
    padding: 1px;
    margin: 2px;
    border-radius: 100px;
    border: 2px solid black;
}

.fieldsetInput {
    border: none;
    display: inline;
    margin: 0;
}

input {
    border: none;
    border-bottom: 1px solid black;
    margin: 0px 0px 0px 10px;
    min-width: 120px;
}

.submitButton {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 1px;
    border-radius: 50%;
    border: 0 solid black;
    color: white;
    background-color: black;
}



/* -------------------- Animation -------------------- */

.submitAnimation{
	animation-name: submitAnimation;
	-webkit-animation-name: submitAnimation;	

	animation-duration: 1s;	

    /* visibility: visible !important; */
}

@keyframes submitAnimation {
    0% {background-color: black; left: 0px; top: 0px;}
    100% {background-color: orange; left: 598px; top: 0px;}
}


/* .curtainAnimation {
    animation-name: curtainAnimation;
    -webkit-animation-name: curtainAnimation;

    animation-duration: 1s;
}

@keyframes curtainAnimation {
    0% {background-color: #333; width: 0px; height: 52px; left: 0px; top: 0px;}
    100% {background-color: #686868; width: 598px; height: 52px; left: 0px; top: 0px;}
} */
