/* basic reset */
* {
    margin: 2px;
    padding: 0;
}

/* Contact form style */
.formContainer {
    width: 650px;
    padding: 1px;
    margin: 2px;
    border-radius: 100px;
    border: 2px solid black;
}

.fieldsetInput {
    border: none;
    display: inline;
    margin: 0;
}

input {
    border: none;
    border-bottom: 1px solid black;
    margin: 0px 0px 0px 10px;
    min-width: 120px;
}

.submitButton {
    width: 50px;
    height: 50px;
    margin: 1px;
    border-radius: 50%;
    border: 0 solid black;
    color: white;
    background-color: black;
}

/* Animation */

/* .submitAnimation:active {
    transform: translate(598px, 0);
    background-color: #f7cac9;
} */

/* .submitAnimation{
	animation-name: submitAnimation;
	-webkit-animation-name: submitAnimation;	

	animation-duration: 0.7s;	
	-webkit-animation-duration: 0.7s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

    visibility: visible !important;
    animation-iteration-count: 1;	
}

@keyframes submitAnimation {
	0% {
		transform: translateX(0);
    }	
	100% {
        transform: translateX(598px);
    }
} */
