/* basic reset */
* {
    margin: 2px;
    padding: 0;
}

/* Contact form style */
.formContainer {
    width: 650px;
    padding: 1px;
    margin: 2px;
    border-radius: 100px;
    border: 2px solid black;
}

.fieldsetInput {
    border: none;
    display: inline;
    margin: 0;
}

input {
    border: none;
    border-bottom: 1px solid black;
    margin: 0px 0px 0px 10px;
    min-width: 120px;
}

.submitButton {
    width: 50px;
    height: 50px;
    margin: 1px;
    border-radius: 50%;
    border: 0 solid black;
    color: white;
    background-color: black;

    transition: all .3s linear;
}

/* Animation */

.submitAnimation:active {
    transform: translateX(598px);
    background-color: #f7cac9;
}

.submitAnimation:after {
    transform: translateX(5px);
}
